celery==5.4.0
redis==5.0.8

django>=5.1.1
djangorestframework
django-admin-extra-buttons
django-admin-searchable-dropdown
django-autocomplete-light
django-classy-tags
django-cors-headers
django-crispy-forms
django-filter
django-native-tags
django-nested-admin
django-polymorphic
fontawesomefree

imagesize>=1.4.1
iiif-prezi==0.3.0
numpy>=1.18.5
orjson>=3.10.15
packaging==21.3
pdf2image==1.16.2
Pillow>=10.3.0
pycparser==2.21
pyparsing==3.0.9
PyPDF2==2.10.4
PyMuPDF>=1.12
python-dateutil
python-environ
requests
stream_unzip
tripoli
tqdm
urllib3
