celery
redis

ansicon
arrow
asgiref
beautifulsoup4
blessed
bottle
cachetools
certifi
cffi
charset-normalizer
cryptography
cssselect2
defusedxml
deprecation
djangorestframework
Django
django
django-admin-extra-buttons
django-admin-searchable-dropdown
django-autocomplete-light
django-classy-tags
django-cors-headers
django-crispy-forms
django-filter
django-js-asset
django-native-tags
django-nested-admin
django-picklefield
django-polymorphic
fontawesomefree
frozendict
idna
imagesize
iiif-prezi
iiif-download
jinxed
lxml
numpy
orjson
packaging
pdf2image
pikepdf
Pillow
psutils
#psycopg2
psycopg2-binary
pycparser
PyLD
pyparsing
PyPDF2
PyMuPDF
pymupdf-img
python-dateutil
python-environ
python-magic
python-monkey-business
reportlab
requests
setuptools
six
sorl-thumbnail
soupsieve
sqlparse
stream_unzip
svglib
tinycss2
tornado
tripoli
tqdm
tzdata
Unidecode
urllib3
wcwidth
webencodings
