{% extends "admin/base_site.html" %}

{% load static %} {# NOTE: is it necessary if the parent template load statics as well #}

{% block title %}Annotations {{ work }} #{{ work_obj.id }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/delete_anno.js' %}"></script>
    <style>
        .fixed-div {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            background-color: #cccfd3;
            color: #111111 !important;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            z-index: 100;
        }

        .title {
            font-size: 2em;
            padding: 0.2em;
        }

        .fixed-div h3 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .fixed-div label {
            margin-right: 10px;
        }

        .fixed-div input {
            margin-right: 10px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .views {
            display: inline-block;
        }

        .fixed-div button {
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
            color: white;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            margin-left: 10px;
        }

        .delete-illustrations-button {
            background-color: #cb4848;
        }

        .delete-illustrations-button:hover {
            background-color: #b63434;
        }

        .reload-button {
            background-color: rgb(48, 148, 164);
        }

        .reload-button:hover {
            background-color: rgb(35, 115, 128);
        }
        .anno-table {
        {#table-layout: fixed;#}
            background: #F8F8F8;
            margin-top: 3em;
        }
        .page-col {
            width: 420px;
            background-color: #333;
            color: white;
            text-align: center;
        }
        td {
            border: none !important;
        }
        .anno-col {
            background-color: #F8F8F8;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            align-items: center;
            height: 100%;
        }
        .page-preview {
            max-height: 500px;
        }
        .anno-div {
            flex: 1;
            align-items: center;
            justify-content: left;
            color: black;
        }
        .anno {
            margin: 5px;
            border: 1px solid #b0aaaa;
            max-height: 450px;
            max-width: 150px;
        }
        .anno-info {
            color: #bdbbbb;
            padding-bottom: 10px;
            font-style: italic;
        }
        .anno-row {
            width: 100%;
            height: 100%;
            border-bottom: 1px solid black;
            background-color: #F8F8F8 !important;
        }
    </style>
{% endblock %}

{% block header %}
    <div class="fixed-div">
        <div class="title {{ work }}-title">
            <b>{{ work|title }} #{{ work_obj.id }}</b> : {{ work_obj }}
        </div>
        <!-- <div class="views">
            <label for="startIndex">Vue de début :</label>
            <input type="number" id="startIndex" value="1" min="1" max="{{ canvas_annos|length }}">
            <label for="endIndex">Vue de fin :</label>
            <input type="number" id="endIndex" value="2" min="1" max="{{ canvas_annos|length }}">
        </div> -->
        <button id="delete_illustrations" class="delete-illustrations-button">{% if APP_LANG == "en" %}Delete{% else %}Supprimer{% endif %} annotations</button>

        <button class="reload-button" onclick="location.reload()" title="{% if APP_LANG == "en" %}Reload{% else %}Actualiser{% endif %}">
            <i class="fa-solid fa-arrows-rotate"></i> {% if APP_LANG == "en" %}Reload{% else %}Actualiser{% endif %}
        </button>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <table class="anno-table">
                {% for canvas_nb, annos, img_file in page_annos %}
                    <tr class="anno-row">
                        <td class="anno-td page-col">
                            <div class="anno-info">
                                <i class="fa-solid fa-pen-to-square"></i>
                                {% if APP_LANG == "en" %}
                                    Click on image to correct annotation
                                {% else %}
                                    Clicker sur l'image pour corriger l'annotation
                                {% endif %}
                            </div>
                            <a href="{{ SAS_APP_URL }}/index.html?iiif-content={{ url_manifest }}&canvas={{ canvas_nb }}" target="_blank" title="Correct annotation">
                                <img class="page-preview" src="{{ img_file|img_to_iiif:"full/400,/0" }}" alt="scan preview">
                            </a>
                            <br>
                            <h3><a href="{{ img_file|img_to_iiif }}" target="_blank">Page {{ canvas_nb }}</a></h3>
                        </td>
                        <td class="anno-td anno-col">
                            {% for coord, bbox in annos %}
                                <div id="ill_{{ bbox }}" class="anno-div">
                                    {% with region_full=coord|add:'/full/0' region=coord|add:'/,150/0' %}
                                        <a href="{{ img_file|img_to_iiif:region_full }}" target="_blank">
                                            <img class="anno" src="{{ img_file|img_to_iiif:region }}" alt="scan preview">
                                        </a>
                                    {% endwith %}
                                    <br>
                                    <input id="bbox_{{ bbox }}" name="{{ bbox }}" type="checkbox">
                                    <label for="bbox_{{ bbox }}">
                                        {% if APP_LANG == "en" %}Delete{% else %}Supprimer{% endif %}
                                    </label>
                                    <span id="message_{{ bbox }}" style="color:#FF0000;"></span>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% empty %} {# if there is no annotations #}
                    <tr>
                        <td style="width: 100%">{% if APP_LANG == "en" %}No{% else %}Aucune{% endif %} annotation</td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'includes/pagination.html' with current_page=page_annos %}
        </div>
    </div>
{% endblock %}
