x-proxy-settings: &proxy-settings
  HTTP_PROXY: ${HTTP_PROXY:-}
  HTTPS_PROXY: ${HTTPS_PROXY:-}
  NO_PROXY: "localhost,127.0.0.1,sas,cantaloupe,web,nginx,redis,db,.aikon_network"

services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        USERID: ${USERID}
        PORT: ${DJANGO_PORT}
    volumes:
      - ${DATA_FOLDER}:/data
      - ../app:/home/aikon/app
    env_file:
      - ../app/config/.env
      - ./.env
    environment:
      <<: *proxy-settings
    ports:
      - "${DJANGO_PORT}:8000"
    depends_on:
      - db
      - redis
    networks:
      - aikon_network
    restart: unless-stopped

  db:
    image: postgres:14
    command: postgres -p ${DB_PORT:-5432}
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - ../app/config/.env
    networks:
      - aikon_network
    ports:
      - "${DB_PORT:-5432}:${DB_PORT:-5432}"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER} -p $${DB_PORT:-5432}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:6
    command: redis-server --port ${REDIS_PORT:-6379} --loglevel warning
    volumes:
      - redisdata:/data
    env_file:
      - ../app/config/.env
    networks:
      - aikon_network
    ports:
      - "${REDIS_PORT:-6379}:${REDIS_PORT:-6379}"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "-p", "${REDIS_PORT:-6379}", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  cantaloupe:
    build:
      context: ..
      dockerfile: cantaloupe/Dockerfile
      args:
        CANTALOUPE_PORT: ${CANTALOUPE_PORT}
    env_file:
      - ./.env
    ports:
      - "${CANTALOUPE_PORT:-8182}:${CANTALOUPE_PORT:-8182}"
    volumes:
      - ${DATA_FOLDER}:/data
    networks:
      - aikon_network
    environment:
      <<: *proxy-settings
    user: root
    restart: unless-stopped

  sas:
    build:
      context: ..
      dockerfile: sas/Dockerfile
      args:
        SAS_PORT: ${SAS_PORT}
    env_file:
      - ./.env
    volumes:
        - ../sas:/sas
        - ${DATA_FOLDER}/sas:/sas/data
    ports:
      - "${SAS_PORT:-8888}:${SAS_PORT:-8888}"
    networks:
      - aikon_network
    environment:
      <<: *proxy-settings
    restart: unless-stopped

  nginx:
    image: nginx:latest
    env_file:
      - ./.env
      - ../app/config/.env
    ports:
      - "${NGINX_PORT:-8080}:${NGINX_PORT:-8080}"
    environment:
      <<: *proxy-settings
      PROD_URL: ${PROD_URL:-localhost}
      NGINX_PORT: ${NGINX_PORT:-8080}
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ../app/staticfiles:/home/aikon/app/staticfiles:ro
      - ${DATA_FOLDER}:/data:ro
      - /etc/ssl:/etc/ssl:ro
    depends_on:
      - web
      - cantaloupe
      - sas
    networks:
      - aikon_network
    restart: unless-stopped

volumes:
  pgdata:
  redisdata:

networks:
  aikon_network:
    driver: bridge
