.bkg-shade.svelte-vizlcg{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5);display:flex;justify-content:center;align-items:center;z-index:9999}.loader.svelte-vizlcg{border:5px solid rgba(255, 255, 255, 0.5);border-top:5px solid var(--bulma-link);border-radius:50%;width:50px;height:50px;animation:svelte-vizlcg-spin 1s linear infinite}@keyframes svelte-vizlcg-spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
svg.svelte-rtaaid>path.svelte-rtaaid{transition:fill 0.1s ease-out;fill:var(--bulma-link)}.overlay.svelte-rtaaid.svelte-rtaaid{font-size:75%}figure.svelte-rtaaid.svelte-rtaaid{transition:outline 0.1s ease-out;outline:0 solid var(--bulma-link)}.checked.svelte-rtaaid>figure.svelte-rtaaid{outline:4px solid var(--bulma-link);border-radius:var(--bulma-card-radius)}.region-img.svelte-rtaaid.svelte-rtaaid{object-fit:contain;height:100%}.region.svelte-rtaaid.svelte-rtaaid{cursor:pointer;position:relative;display:flex;justify-content:center;align-items:center}.tooltip.svelte-rtaaid.svelte-rtaaid{visibility:hidden;background-color:rgba(0, 0, 0, 0.7);color:#fff;text-align:center;border-radius:6px;padding:5px;position:absolute;z-index:6;bottom:125%;left:50%;transform:translateX(-50%);opacity:0;transition:opacity 0.3s}.region-btn.svelte-rtaaid:hover .tooltip.svelte-rtaaid{visibility:visible;opacity:1}
.set-container.svelte-hs48f9{display:flex;justify-content:flex-end;gap:10px;position:fixed;bottom:0;right:0;z-index:3}#set-btn.svelte-hs48f9{border-radius:0}
.edit-action.svelte-h0t5l9.svelte-h0t5l9{height:2em}svg.svelte-h0t5l9>path.svelte-h0t5l9{transition:fill 0.1s ease-out;fill:currentColor}
.tooltip.svelte-1am23me{visibility:hidden;background-color:rgba(0, 0, 0, 0.7);color:#fff;text-align:center;border-radius:6px;padding:5px;position:absolute;z-index:6;bottom:125%;left:50%;transform:translateX(-50%);opacity:0;transition:opacity 0.3s}.tooltip.display.svelte-1am23me{visibility:visible;opacity:1}.tooltip-thin.svelte-1am23me{width:auto}.tooltip-mid.svelte-1am23me{width:max(150px, 20vw)
}.tooltip-wide.svelte-1am23me{width:max(300px, 30vw)}
.icon-tooltip.svelte-gmxkvo>button.svelte-gmxkvo{position:relative;cursor:pointer;display:flex;justify-content:center;align-items:center}
.matches-suggestion-wrapper.svelte-1li2qm8{border:1px solid var(--bulma-border);border-radius:1em}.matches-suggestion.svelte-1li2qm8{margin:1.5rem}
.new-similarity.svelte-f4c92p{display:flex;gap:0.5em}#no-match.svelte-f4c92p{opacity:0;visibility:hidden;transition:opacity 0.3s ease-out, visibility 0.3s ease-out}.visible.svelte-f4c92p{opacity:1 !important;visibility:visible !important}
span.svelte-503e8j{cursor:pointer;transition:background-color 0.2s ease-out}
.toolbar.svelte-1a5w65y.svelte-1a5w65y{position:fixed;left:0;top:50%;z-index:7;transform:translateY(-50%);display:flex;flex-direction:column;border-radius:0 10px 10px 0}.toolbar-item.svelte-1a5w65y.svelte-1a5w65y{display:flex;align-items:center;cursor:pointer;padding-left:0.5em;padding-right:0.6em;background-color:var(--contrasted);transition:background-color 0.2s ease-in-out}.toolbar-item.svelte-1a5w65y.svelte-1a5w65y:first-child{padding-top:0.25em;padding-bottom:0.125em;border-radius:0 10px 0 0}.toolbar-item.svelte-1a5w65y.svelte-1a5w65y:last-child{padding-top:0.125em;padding-bottom:0.25em;border-radius:0 0 10px 0}.toolbar-item.svelte-1a5w65y.svelte-1a5w65y:not(:first-child):not(:last-child){padding-top:0.125em;padding-bottom:0.125em}.toolbar-item.selected.svelte-1a5w65y.svelte-1a5w65y{background-color:var(--selected)}.tool-icon.svelte-1a5w65y.svelte-1a5w65y{background:none;border:none;color:hsl(var(--bulma-tag-h), var(--bulma-tag-s), var(--bulma-tag-color-l))}.selected.svelte-1a5w65y .tool-icon.svelte-1a5w65y{color:var(--selected-text)}.label-container.svelte-1a5w65y.svelte-1a5w65y{position:absolute;transform:translateX(35px);background-color:rgba(0, 0, 0, 0.7);border-radius:4px}.label.svelte-1a5w65y.svelte-1a5w65y{white-space:nowrap;color:white;font-size:0.9em}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #3FB8AF;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.slider-outer-wrapper.svelte-s3mlts{margin:10px}.slider-wrapper.svelte-s3mlts{min-height:15px;width:100%;margin:0 15px}.range-marker.svelte-s3mlts{transform:translateY(-40%)}.noUi-horizontal{height:5px}.noUi-horizontal .noUi-connects{outline:solid 1px white}.noUi-horizontal .noUi-connect{background-color:var(--default-color)}.noUi-horizontal .noUi-handle{width:15px;height:15px;right:-10px;top:-6px;border-radius:1rem;background-color:var(--default-color);border:solid 2px white;box-shadow:none;cursor:grab}.noUi-horizontal .noUi-handle::before,.noUi-horizontal .noUi-handle::after{all:unset}
.pill-checkbox.svelte-1vd06dk.svelte-1vd06dk{transition:background-color var(--default-transition)}.pill-checkbox.svelte-1vd06dk input.svelte-1vd06dk{visibility:hidden;height:0;width:0}
/* ===============================
=            Choices            =
=============================== */
.choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 16px;
}
.choices:focus {
  outline: none;
}
.choices:last-child {
  margin-bottom: 0;
}
.choices.is-open {
  overflow: visible;
}
.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
          user-select: none;
}
.choices.is-disabled .choices__item {
  cursor: not-allowed;
}
.choices [hidden] {
  display: none !important;
}

.choices[data-type*=select-one] {
  cursor: pointer;
}
.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 7.5px;
}
.choices[data-type*=select-one] .choices__input {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 0;
}
.choices[data-type*=select-one] .choices__button {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
  padding: 0;
  background-size: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  height: 20px;
  width: 20px;
  border-radius: 10em;
  opacity: 0.25;
}
.choices[data-type*=select-one] .choices__button:hover, .choices[data-type*=select-one] .choices__button:focus {
  opacity: 1;
}
.choices[data-type*=select-one] .choices__button:focus {
  box-shadow: 0 0 0 2px #005F75;
}
.choices[data-type*=select-one] .choices__item[data-placeholder] .choices__button {
  display: none;
}
.choices[data-type*=select-one]::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}
.choices[data-type*=select-one].is-open::after {
  border-color: transparent transparent #333;
  margin-top: -7.5px;
}
.choices[data-type*=select-one][dir=rtl]::after {
  left: 11.5px;
  right: auto;
}
.choices[data-type*=select-one][dir=rtl] .choices__button {
  right: auto;
  left: 0;
  margin-left: 25px;
  margin-right: 0;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
  cursor: text;
}
.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-right: -4px;
  margin-bottom: 0;
  margin-left: 8px;
  padding-left: 16px;
  border-left: 1px solid #003642;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
  background-size: 8px;
  width: 8px;
  line-height: 1;
  opacity: 0.75;
  border-radius: 0;
}
.choices[data-type*=select-multiple] .choices__button:hover, .choices[data-type*=select-multiple] .choices__button:focus,
.choices[data-type*=text] .choices__button:hover,
.choices[data-type*=text] .choices__button:focus {
  opacity: 1;
}

.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #f9f9f9;
  padding: 7.5px 7.5px 3.75px;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  font-size: 14px;
  min-height: 44px;
  overflow: hidden;
}
.is-focused .choices__inner, .is-open .choices__inner {
  border-color: #b7b7b7;
}
.is-open .choices__inner {
  border-radius: 2.5px 2.5px 0 0;
}
.is-flipped.is-open .choices__inner {
  border-radius: 0 0 2.5px 2.5px;
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.choices__list--single {
  display: inline-block;
  padding: 4px 16px 4px 4px;
  width: 100%;
}
[dir=rtl] .choices__list--single {
  padding-right: 4px;
  padding-left: 16px;
}
.choices__list--single .choices__item {
  width: 100%;
}

.choices__list--multiple {
  display: inline;
}
.choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #005F75;
  border: 1px solid #004a5c;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box;
}
.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
}
[dir=rtl] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px;
}
.choices__list--multiple .choices__item.is-highlighted {
  background-color: #004a5c;
  border: 1px solid #003642;
}
.is-disabled .choices__list--multiple .choices__item {
  background-color: #aaaaaa;
  border: 1px solid #919191;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
}
.is-active.choices__list--dropdown, .is-active.choices__list[aria-expanded] {
  display: block;
}
.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border-color: #b7b7b7;
}
.is-flipped .choices__list--dropdown, .is-flipped .choices__list[aria-expanded] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
}
.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}
.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 10px;
  font-size: 14px;
}
[dir=rtl] .choices__list--dropdown .choices__item, [dir=rtl] .choices__list[aria-expanded] .choices__item {
  text-align: right;
}
@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable[data-select-text], .choices__list[aria-expanded] .choices__item--selectable[data-select-text] {
    padding-right: 100px;
  }
  .choices__list--dropdown .choices__item--selectable[data-select-text]::after, .choices__list[aria-expanded] .choices__item--selectable[data-select-text]::after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  [dir=rtl] .choices__list--dropdown .choices__item--selectable[data-select-text], [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable[data-select-text] {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px;
  }
  [dir=rtl] .choices__list--dropdown .choices__item--selectable[data-select-text]::after, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable[data-select-text]::after {
    right: auto;
    left: 10px;
  }
}
.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #f2f2f2;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  opacity: 0.5;
}

.choices__item {
  cursor: default;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
          user-select: none;
  opacity: 0.5;
}

.choices__heading {
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  color: gray;
}

.choices__button {
  text-indent: -9999px;
  appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.choices__button:focus {
  outline: none;
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}
.choices__input:focus {
  outline: 0;
}
.choices__input::-webkit-search-decoration, .choices__input::-webkit-search-cancel-button, .choices__input::-webkit-search-results-button, .choices__input::-webkit-search-results-decoration {
  display: none;
}
.choices__input::-ms-clear, .choices__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
[dir=rtl] .choices__input {
  padding-right: 2px;
  padding-left: 0;
}

.choices__placeholder {
  opacity: 0.5;
}

/* =====  End of Choices  ====== */

.choices__inner,.choiches__list--dropdown,.dropdown-item,.choices__inner .choices__input{background-color:var(--bulma-body-background-color);color:var(--bulma-body-background);font-size:var(--bulma-body-font-size)}.choices__inner{padding:1px;padding-bottom:1px !important;min-height:30px;border:solid 1px var(--bulma-border);border-radius:var(--bulma-burger-border-radius)}.choices__list{padding:0}.choices__inner .dropdown-item{background-color:var(--default-color);color:var(--bulma-strong-color);border:var(--default-border);border-radius:1rem;padding-left:10px;font-weight:normal;font-size:12px;margin:3.75px}.choices__item.choices__placeholder{background-color:var(--bulma-body-background-color);color:var(--bulma-body-color);font-size:var(--bulma-body-font-size);border:none;margin:0}.choices__input{margin:0;padding:8px 0 8px 10px}.choices__list--single .choices__item{width:fit-content}.choices__list--single .choices__button{background-color:white}.choices__inner .choices__item:not-.choices__placeholder{margin:3.75px}.choices__list--dropdown{z-index:10 !important}.choices__list--dropdown .dropdown-item.is-highlighted{background-color:var(--default-color) !important}
.ctrl-propagation-inputs.svelte-xlomtp.svelte-xlomtp{margin:10px;padding:5px;gap:2rem}
.input.svelte-sgypdx:focus{box-shadow:none}.selection-title.svelte-sgypdx{margin-top:-0.2rem;padding-bottom:0.75rem;padding-left:0.25rem;width:75%;height:2rem;display:inline-block;font-size:1.4rem;border:none;border-bottom:1px solid var(--bulma-link);border-radius:0}
.svg-regions.svelte-1egync3{position:relative;display:flex;justify-content:center;align-items:center;cursor:pointer}.image.svelte-1egync3{position:relative;width:100%;height:100%}.svg-container.svelte-1egync3{position:absolute;top:0;left:0;width:100%;height:100%}.svg-container.svelte-1egync3 svg{width:100%;height:100%}img.svelte-1egync3{width:100%;height:100%;object-fit:cover}
.grid.svelte-1mje9rl{--bulma-grid-column-min:12rem}
.selection.svelte-403wty{position:relative;width:64px}.overlay.svelte-403wty{font-size:50%}#nav-actions.svelte-403wty{position:sticky;top:0;z-index:2;background-color:var(--bulma-body-background-color);box-shadow:var(--bulma-body-background-color) 0 0 25px;padding-top:5em;margin-top:-5em}
