{% load shared_tags %}

{% check_url 'webapp:'|add:entity_name|add:'_create' as add_url %}
{% if add_url == '' %}
    {% check_url 'admin:webapp_'|add:entity_name|add:'_add' as add_url %}
{% endif %}
{% if add_url == '' %}
    {% check_url 'admin:auth_'|add:entity_name|add:'_add' as add_url %}
{% endif %}

{% check_url 'webapp:'|add:entity_name|add:'_list' as list_url %}
{% if list_url == '' %}
    {% check_url 'admin:webapp_'|add:entity_name|add:'_changelist' as list_url %}
{% endif %}
{% if list_url == '' %}
    {% check_url 'admin:auth_'|add:entity_name|add:'_changelist' as list_url %}
{% endif %}

<tr>
    <td>{{ entity_title }}</td>
    <td>
        <a href="{{ add_url }}">
            <span class="icon-text">
                <span class="icon"><i class="fas fa-plus-circle"></i></span>
                {% if APP_LANG == "en" %}Add{% else %}Ajouter{% endif %}
            </span>
        </a>
    </td>
    <td>
        <a href="{{ list_url }}">
        <span class="icon-text">
            <span class="icon"><i class="fas fa-list-ul"></i></span>
            {% if APP_LANG == "en" %}List{% else %}Lister{% endif %}
        </span>
        </a>
    </td>
</tr>
