{% load static shared_tags %}

<nav class="navbar" role="navigation" aria-label="main navigation" data-theme="dark">
    <div class="navbar-brand ml-3">
        <a class="navbar-item" href="/{# {% url 'home' %} #}">
            <img id="nav-icon" src="{% static 'img/favicon-'|add:APP_NAME|add:'.png' %}" alt="Icon">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" data-target="navbar-content">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-content" class="navbar-menu">
        <div class="navbar-start">
            <a id="nav-title" href="{% url 'webapp:home' %}" class="navbar-item nav-link px-2">
                {{ APP_NAME|upper }}
            </a>

            {% is_superuser request.user as is_admin %}
            {% if is_admin %}
                <a href="{% url 'admin:auth_user_changelist' %}" title="Admin stuff" class="navbar-item">
                    <span class="iconify mr-1" data-icon="mdi:shield"></span> <span>Manage users</span>
                </a>
            {% endif %}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Manage documents
                </a>

                <div class="navbar-dropdown">
                    <a href="{% url 'admin:webapp_witness_changelist' %}" class="navbar-item">{{ WIT }}</a>
                    <a href="{% url 'admin:webapp_series_changelist' %}" class="navbar-item">Series</a>
                </div>
            </div>
        </div>

        <div class="navbar-end mr-3">
            <div class="navbar-item">
                {% if request.user.is_authenticated %}
                    <div class="buttons">
                        <a class="button is-link" href="{# {% url 'account' %} #}" title="Profile">
                            {{ user.username }}
                        </a>
                        <a class="button is-link is-outlined" href="{# {% url 'logout' %} #}" title="Log out">
                            Log out
                        </a>
                    </div>
                {% else %}
                    <div class="buttons">
                        <a class="button is-link is-outlined" href="{# {% url 'login' %} #}">Log in</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
