.djn-group .djn-group-nested {
    margin: 30px 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 420px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    flex: 50%;
    padding: 5px;
}

.anno-table {
    border-spacing: 5px;
    width: 100%;
    border: 1px solid #ddd;
}

.anno-td {
    text-align: left;
    padding: 10px;
    vertical-align: bottom;
}

.annotate-manifest {
    color: white;
    padding: 8px 10px !important;
    margin: 5px 0 !important;
    width: 170px;
}

.faded {
    font-style: italic;
    color: rgba(0, 0, 0, 0.50);
}
