# ssh basics
SSH_CONNSTRING="user@example"  # string to connect to ssh
FOLDER_WORK="/path/to/ssh/work/folder/"  # ssh working directory
FOLDER_OUT="./data"  # ssh output directory

# docker stuff
DB_DOCKER="name-of-docker"
PG_USER="name-of-user"
PG_DB="name-of-db"
PG_PORT="postgresql-port"
