{% extends "admin/base_site.html" %}
{# TODO DELETE WHEN NOT USED #}

{% load static %}

{% block title %}{{ regions }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
    <script>
        let allRegions = JSON.parse('{{ bboxes|safe }}');
    </script>
{% endblock %}

{% block header %}
    <div class="toolbar">
        <div class="title">
            <b>{{ regions|capfirst }}</b>
        </div>

        <button id="select_anno" class="select-button">
            <i class="fa-regular fa-square-check"></i>&nbsp;
            {% if APP_LANG == "en" %}Select all regions{% else %}Sélectionner toutes les régions{% endif %}
        </button>

        <button class="reload-button" onclick="location.reload()" title="{% if APP_LANG == 'en' %}Reload{% else %}Actualiser{% endif %}">
            <i class="fa-solid fa-arrows-rotate"></i>
            {% if APP_LANG == "en" %}Reload{% else %}Actualiser{% endif %}
        </button>

        <button id="delete_regions" class="delete-button">
            <i class="fa-solid fa-trash"></i>
            {% if APP_LANG == "en" %}Delete regions{% else %}Supprimer les régions{% endif %}
        </button>

        <button id="validate_region_extraction" class="validate-button">
            <i class="fa-solid fa-check"></i>
            Valid{% if APP_LANG == "en" %}ate regions{% else %}er les régions{% endif %}
        </button>

        <!-- <button id="delete_all" class="delete-all-button">
            <i class="fa-solid fa-trash"></i>
            {% if APP_LANG == "en" %}Delete all regions{% else %}Supprimer toutes les régions{% endif %}
        </button> -->
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <table class="region-table">
                {% for canvas_nb, annotations, img_file in page_regions %}
                    <tr class="region-row">
                        <td class="region-td page-col">
                            <div class="region-info">
                                <i class="fa-solid fa-pen-to-square"></i>
                                {% if APP_LANG == "en" %}
                                    Click on image to correct region
                                {% else %}
                                    Clicker sur l'image pour corriger la région
                                {% endif %}
                            </div>
                            <a href="{{ SAS_APP_URL }}/index.html?iiif-content={{ url_manifest }}&canvas={{ canvas_nb }}" target="_blank" title="Correct region">
                                <img class="page-preview" src="{{ img_file|img_to_iiif:"full/400,/0" }}" alt="Click to correct the regions">
                            </a>
                            <br>
                            <h3><a href="{{ img_file|img_to_iiif }}" target="_blank">Page {{ canvas_nb }}</a></h3>
                        </td>
                        <td class="region-td region-col">
                            {% for coord, bbox in annotations %}
                                <div id="ill_{{ bbox }}" class="region-div">
                                    {% with region_full=coord|add:'/full/0' region=coord|add:'/,150/0' %}
                                        <a href="{{ img_file|img_to_iiif:region_full }}" target="_blank">
                                            <img class="anno" src="{{ img_file|img_to_iiif:region }}" alt="scan preview">
                                        </a>
                                    {% endwith %}
                                    <br>
                                    <input id="bbox_{{ bbox }}" name="{{ bbox }}" type="checkbox">
                                    <label for="bbox_{{ bbox }}">
                                        {% if APP_LANG == "en" %}Delete{% else %}Supprimer{% endif %}
                                    </label>
                                    <span id="message_{{ bbox }}" style="color:#FF0000;"></span>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% empty %} {# if there is no regions #}
                    <tr>
                        <td style="width: 100%">{% if APP_LANG == "en" %}No region{% else %}Aucune région{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'includes/pagination.html' %}
        </div>
    </div>
{% endblock %}
