{% block extrahead %}
    <style>
        .pagination {
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .pagination ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .pagination li {
            display: inline-block;
            margin-right: 5px;
            border: 1px solid #ddd;
            padding: 5px 10px;
        }

        .pagination li.active {
            background-color: #337ab7;
            color: #fff;
            border-color: #337ab7;
        }

        .pagination li a {
            color: #337ab7;
        }

        .pagination li.disabled {
            color: #ddd;
            border-color: #ddd;
            cursor: not-allowed;
        }

        .pagination li:first-child a,
        .pagination li:last-child a {
            padding: 5px 7px;
        }

        .pagination li:first-child {
            border-radius: 4px 0 0 4px;
        }

        .pagination li:last-child {
            border-radius: 0 4px 4px 0;
        }
    </style>
{% endblock %}

<div class="pagination">
    <ul>
        {% if current_page.has_previous %}
            <li><a href="?page=1">&laquo;</a></li>
            <li><a href="?page={{ current_page.previous_page_number }}">&lsaquo;</a></li>
        {% endif %}

        {% for num in current_page.paginator.page_range %}
            <li{% if current_page.number == num %} class="active"{% endif %}><a href="?page={{ num }}">{{ num }}</a></li>
        {% endfor %}

        {% if current_page.has_next %}
            <li><a href="?page={{ current_page.next_page_number }}">&rsaquo;</a></li>
            <li><a href="?page={{ current_page.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
