{% load i18n shared_tags %}

{# <!--TODO to delete?--> #}

{% csrf_token %}

{{ form.media }}
{{ form.non_field_errors }}

{% for field in form %}
    {{ field.errors }}
    {% if field|field_type == "HiddenInput" %}
        {{ field }}
    {% else %}
    <div class="field">
         <div class="py-1">
            {# LABEL #}
            <label for="{{ field.id_for_label }}" class="label {% if field.field.required %}required{% endif %}">
                {% if field|field_type != "CheckboxInput" %}{{ field.label }}{% else %}{% endif %}
            </label>
        </div>

        {% if field|field_type == "CheckboxInput" %}
            <div class="control">
                <label for="{{ field.id_for_label }}" class="label">
                    {{ field|add_class:"checkbox" }}
                    {{ field.label }}
                </label>
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% elif field|field_type == "Textarea" or field|field_type == "CheckboxSelectMultiple" or field|field_type == "RadioSelect" %}
            {% if field.help_text %}
                <div class="help pb-2">{{ field.help_text }}</div>
            {% endif %}
            <div>
                {{ field }}
            </div>
        {% elif field|field_type == "Select" %}
            <div>
                <div class="select">
                    {{ field }}
                </div>
            </div>
        {% elif field|field_type == "ClearableFileInput" or field|field_type == "FileInput" %}
            <div class="file has-name is-fullwidth" id="{{ field.id_for_label }}-wrapper">
                <label for="{{ field.id_for_label }}" class="file-label {% if field.field.required %}required{% endif %}">
                    <span class="file-cta">
                        <span class="file-icon">
                            <span class="iconify" data-icon="mdi:upload"></span>
                        </span>
                        <span class="file-label">Select a file...</span>
                    </span>
                    <span class="file-name">No file selected</span>
                    {{ field|add_class:"file-input" }}
                </label>
            </div>

            <script>
                const fileInput = document.querySelector("#{{ field.id_for_label|escapejs }}-wrapper input[type=file]");
                fileInput.onchange = () => {
                    if (fileInput.files.length > 0) {
                        const fileName = document.querySelector("#{{ field.id_for_label|escapejs }}-wrapper .file-name");
                        fileName.textContent = fileInput.files[0].name;
                    }
                };
            </script>
        {% else %}
            <div>
                {{ field|add_class:"input" }}
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}
