{% extends "admin/base_site.html" %}
{% load shared_tags static %}

{% block title %}
    {% if APP_LANG == "en" %}List of {{ page_title }}{% else %}Liste de {{ page_title }}{% endif %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'svelte/recordList.css' %}">
    <style>
    .delete.is-medium {
        position: relative;
        top: -35px;
        left: 32px;
    }
    </style>
{% endblock %}

{% block content %}
    {% if filter %}
        {% include "includes/breadcrumbs.html" %}
        <h1 class="is-title is-size-2 py-3">{{ filter }}</h1>
    {% else %}
        <h1 class="is-title is-size-2 py-3">
            {{ view_title }}
            {% if edit_url %}
                <a href="{{ edit_url }}" class="edit-btn button is-small is-rounded is-link px-3 ml-3 mt-3" title='Edit'>
                    <span class="iconify" data-icon="entypo:edit"/>
                    <span class="ml-2">
                        {% if APP_LANG == "en" %}Edit{% else %}Éditer{% endif %} {{ type }}
                    </span>
                </a>
            {% endif %}
        </h1>
    {% endif %}

    <div>
        <div id="record-list" class="container"></div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        const modelName = "{{ model_name }}";
        const searchFields = {{ search_fields|js|safe }};
        const modelTitle = "{{ model_title }}";
    </script>
    <script src="{% static 'svelte/recordList.js' %}"></script>
{% endblock %}
