* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #6495ED;
}

.left {
    display: flex;
    align-items: center;
    color: white;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.center {
    /* Styles for the center element */
}

.right {
    /* Styles for the right element */
}

.nav {
    background-color: #2c3e50; /* Dark blue-gray background */
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c3e50; /* Dark blue-gray background */
}

/* .menu li {
    float: left;
} */

.menu li a {
    display: block;
    color: #ecf0f1; /* Light gray text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #1abc9c; /* Teal background on hover */
    color: #2c3e50; /* Dark blue-gray text color on hover */
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ADD8E6;
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    background-color: #FFD700;
    flex: 1 1 calc(50% - 20px);
    height: auto;
    padding: 20px;
    margin: 10px;
}

/* .block {
    background-color: #FFD700;
    width: calc(50% - 40px);
    height: calc(25% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid black;
} */

.header-line {
    display: block;
    border-bottom: 5px solid gray;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.button-container_ {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.button-container button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.button-container button:hover {
    background-color: #45a049;
}

.footer {
    background-color: #D3D3D3;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-section {
    margin: 0 50px;
}

.footer-section h3 {
    text-align: left;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 50px;
    text-align: center;
}

.footer-image {
    width: 100px;
    height: auto;
}

.results {
    display: flex;
    flex-direction: column;
}

.card {
    width: 1200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card-content {
    display: flex;
    align-items: flex-start;  /* Align items to the top */
}

.card-image {
    margin-right: 20px;
}

.card-image img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.card-text {
    flex-grow: 1;
}

.card-header {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 10px;
}

#div_id_contents__date_min input, #div_id_contents__date_max input {
    display: inline-block;
    width: 45%;
}

@keyframes bounceAnimation {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
}

@keyframes shakeAnimation {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-25px); }
    75% { transform: translateX(25px); }
}

.animate-bounce {
    animation: bounceAnimation 0.5s ease-in-out;
}

.animate-shake {
    animation: shakeAnimation 0.5s ease-in-out;
}
