#contents-0-role_set-group {
    padding: 1em 2.5em 2em;
}

#contents-0-role_set-group h2 {
    display: none;
}

[id^="digitizations-"][id*="-images-group"] h2 {
    display: none;
}

[id^="digitizations-"][id*="-images-group"] h3 {
    display: none;
}
