fieldset h2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--bulma-border);
}
label.required {
    color: var(--bulma-text-strong) !important;
}
p.url {
    margin-left: 0 !important;
}
.inline-related h3 {
    background: var(--accent) !important;
    border-radius: var(--bulma-radius-small) !important;
    color: var(--bulma-text-strong) !important;
    padding: 1em 1em !important;
    transition: background-color 100ms, color 100ms;
}

.inline-related fieldset.module h3 {
    background: var(--accent) !important;
    color: var(--bulma-text-strong) !important;
    padding: .7em 1em !important;
    margin: .5em -10px !important;
}
.inline-related.grp-predelete h3, .inline-related.grp-predelete fieldset.module h3 {
    background: var(--deleted) !important;
    color: var(--deleted-text) !important;
}
.djn-delete-handler {
    margin-top: -.25em;
    width: 16px;
    height: 16px;
    border: 0 none;
    transition: background-color 100ms;
    background: var(--bulma-text) url(../img/inline-delete.svg) no-repeat 0 0;
    border-radius: 2em;
}
.grp-predelete .djn-delete-handler {
    background-color: var(--bulma-danger);
}
.djn-delete-handler input {
    opacity: 0;
}
.djn-delete-handler label {
    margin-left: -5em !important;
    margin-top: .35em;
}
fieldset fieldset fieldset {
    margin-left: -10px !important;
}
.select.is-multiple option:checked {
    background-color: var(--bulma-link) !important;
    color: white !important;
}
div.readonly {
    margin-left: 0 !important;
}
.aligned p.file-upload {
    margin-left: 0 !important;
}
/* TODO add style for djn-add-item add-row button */
/* TODO add style for related-widget-wrapper-link <change/add/delete>-related */

.djn-add-item {
    margin-bottom: 1em !important;
}

.inline-group div.add-row, .inline-group .tabular tr.add-row td {
    color: var(--bulma-text-strong) !important;
    font-weight: bold;
    background-color: var(--selected) !important;
    width: 100% !important;
    border-radius: var(--bulma-radius-small) !important;
    padding: .3em 10px .5em !important;
    text-align: center;
}

/*fieldset .inline-group div.add-row, .inline-group .tabular tr.add-row td {*/
/*    margin: .5em -10px !important;*/
/*}*/
