/* DJANGO AUTOCOMPLETE LIGHT */
:root {
    --select2-bg: var(--bulma-body-background-color);
    --select2-text: var(--bulma-text-strong);
    --select2-border: var(--bulma-border);
    --select2-radius: var(--bulma-radius-small);
    --select2-link: var(--bulma-link);
    --select2-hovered-bg: var(--selected);
    --select2-hovered-text: var(--selected-text);
    --select2-selected-bg: var(--bulma-link);
    --select2-selected-text: white;
}

.select2,
.select2-dropdown,
input.select2-search__field,
.select2-container--admin-autocomplete .select2-search--dropdown .select2-search__field,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-container--admin-autocomplete.select2-container--focus .select2-selection,
.select2-container--admin-autocomplete.select2-container--open .select2-selection,
.select2-search__choice,
.select2-selection__choice,
.select2-selection.select2-selection--single.input {
    background: var(--select2-bg) !important;
    color: var(--select2-text) !important;
    border-color: var(--select2-border) !important;
    border-radius: var(--select2-radius) !important;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--admin-autocomplete .select2-results__option[aria-selected=true] {
    background: var(--select2-selected-bg) !important;
    color: var(--select2-selected-text) !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-results__option .select2-results__option--highlighted[aria-selected] {
    background: var(--select2-hovered-bg) !important;
    color: var(--select2-hovered-text) !important;
}


.select2-container--admin-autocomplete .select2-search--dropdown .select2-search__field {
    border: 1px solid var(--select2-link) !important;
}

.select2-container,
.related-widget-wrapper,
.select2-hidden-accessible {
    /*background: var(--select2-bg) !important;*/
    border-color: var(--select2-border) !important;
    border-radius: var(--select2-radius) !important;
    padding-right: 1em !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid var(--select2-border) !important;
}

.select2-selection.select2-selection--single.input {
    font-size: smaller;
    border: 1px solid var(--select2-border);
}

.select2-selection__rendered {
    margin-top: -.4em;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--select2-text) !important;
}
.select2-results {
    font-size: smaller;
}
.select2-container {
    background-color: var(--accent) !important;
    padding-top: .4em;
}
