#roles-group h2 {
    display: none;
}

#witness_set-0-digitizations-group h2 {
    display: none;
}
#witness_set-1-digitizations-group h2 {
    display: none;
}
#witness_set-2-digitizations-group h2 {
    display: none;
}
#witness_set-3-digitizations-group h2 {
    display: none;
}
#witness_set-4-digitizations-group h2 {
    display: none;
}
#witness_set-5-digitizations-group h2 {
    display: none;
}
#witness_set-6-digitizations-group h2 {
    display: none;
}
#witness_set-7-digitizations-group h2 {
    display: none;
}
#witness_set-8-digitizations-group h2 {
    display: none;
}

/*[id^="witness_set-"][id$="-digitizations-group"] h2 {
    display: none;
}*/
