.similarity-container {
    width: 90%;
    overflow-x: auto;
    margin: 10px auto;
}

.similarity-table {
    width: 100%;
    border-collapse: collapse;
}

.similarity-table tr {
    width: 100%;
}

.similarity-table th, .similarity-table td {
    position: relative;
    border-width: 1px 0 !important;
    border-style: dashed !important;
    border-color: var(--border-color) !important;
}

.similarity-table th {
    position: sticky;
    left: 0;
    z-index: 1;
    border-right: 1px dashed var(--border-color) !important;
    background-color: var(--selected-bg) !important;
}

.region-img {
    max-height: 200px;
    max-width: 250px;
}

#check-pairs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#multi-select {
    width: 70%;
}

#maxRows {
    width: 14%;
    margin-left: 1%;
}

/* Duplicated rule found in 'tools.css' for '.toolbar button' */
#check-pairs button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 14%;
    margin-left: 1%;
}

/* Dark mode style */
@media (prefers-color-scheme: dark) {
    .select2-container--default, .category-info,  .category-info h3 {
        color: black;
    }
}

.img-wrap {
    position: relative;
    display: inline-block;
}

.img-description-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-description-layer {
    visibility: visible;
    opacity: 1;
}

.img-description {
    transition: .2s;
    transform: translateY(1em);
}

.img-wrap:hover .img-description {
    transform: translateY(0);
}

.category-info {
	padding: 0 15px;
	margin-top: 15px;
	border: 1px solid var(--border-color);
	background-color: #ddffff;
}

.hspace {
    margin-left: 10px;
}

.form-container {
    margin-top: 40px;
}

.category-form {
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin-top: 100px;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    /* cursor: not-allowed; */
}

#overlay::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
