@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bulma-body-family: "Fira Sans", sans-serif;
    --default-color: hsl(229, 68%, 46%);
    --accent-grey: hsl(0, 0%, 14%);
}

@media (prefers-color-scheme: dark) {}
@media (prefers-color-scheme: light) {}

html,
.navbar,
.footer {
    transition: 0.3s;
}

.is-off {
    filter: grayscale(1);
    transition: 0.3s;
}

.button:hover .is-off {
    filter: grayscale(0.6);
}

.deletelink-box {
    background-color: var(--bulma-danger-l);
    padding: 0.5em 1em;
    border-radius: var(--bulma-radius);
}

.djn-group .djn-group-nested {
    margin: 30px 10px;
}

.form-row:not(:last-child) {
    margin-bottom: 0.5rem;
}
fieldset:not(:last-child) {
    margin-bottom: 1.5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 420px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    flex: 50%;
    padding: 5px;
}

.region-table {
    border-spacing: 5px;
    width: 100%;
    border: 1px solid #ddd;
}

.region-td {
    text-align: left;
    padding: 10px;
    vertical-align: bottom;
}

.view-btn {
    color: white !important;
    padding: 8px 10px !important;
    margin: 15px 0 !important;
    border-radius: 5px !important;
    width: 170px;
}

.faded {
    font-style: italic;
    /*color: rgba(var(--body-fg), 0.75);*/
    opacity: 0.75;
}

.btn {
    color: white !important;
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .3rem .7rem;
    margin: 5px 0;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.clickable {
    transition: all 0.3s ease;
    box-shadow: 0 0.5em 1em -0.125em hsla(0deg, 0%, 50%, 0.3);
}
.clickable:hover {
    transform: translateY(2px);
    box-shadow: 0 0.5em 0.4em -0.125em hsla(0deg, 0%, 50%, 0.4);
}

.is-center {
    margin: auto;
    text-align: center;
    justify-content: center;
}
.is-middle {
    display: flex;
    align-content: center;
    align-items: center;
}
.is-top {
    z-index: 1000;
}
.is-left {
    display: flex;
    justify-content: flex-start !important;
}
.is-right {
    display: flex;
    justify-content: flex-end !important;
}
.is-bold {
    font-weight: bold;
}
.is-wide {
    width: 100%;
}
.is-tall {
    height: 100%;
}
.smaller {
    font-size: 0.75em;
}
.larger {
    font-size: 1.25em;
}

.svg-inline--fa {
    padding-right: 10px !important;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.wrapper {
    margin-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-icon {
    max-height: 30px;
    width: auto;
    object-fit: contain; /* or object-fit: cover; */
}

.navbar {
    border-bottom: 1px solid hsl(var(--bulma-navbar-h),var(--bulma-navbar-s),calc(var(--bulma-navbar-dropdown-border-l) - 10%));
}

.navbar-item:hover,
.navbar-link:hover {
    background-color: inherit;
    color: var(--default-color);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.centerwrap {
    max-width: 900px;
    width: 100%;
    margin: 1% auto;
    padding-top: 2em;
}

pre {
    max-width: 900px;
    overflow: auto;
    white-space: pre-wrap;
    background: #333;
    color: #eee;
    border: 2px solid #ccc;
    padding: 1em;
    text-indent: 0;
}

.disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
    opacity: 0.5;
}

.logo {
    width: 100%;
    max-height: 1rem;
    max-width: 2.2rem;
    background-color: transparent;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

td.is-fullwidth {
    width: 100%;
}

.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.table tr:not(:last-child) {
    border-color: var(--bulma-table-cell-border-color);
    border-style: var(--bulma-table-cell-border-style);
    border-width: var(--bulma-table-cell-border-width);
}
.table td, .table th, .content table td, .content table th {
    border-style: none;
}

:root {

    --contrasted: #f5f0f0;
    --accent: hsl(0deg 0% 0% / 5%);
    --selected: hsl(234deg 100% 96%);
    --selected-text: hsl(233deg 100% 33%);
    --deleted: var(--bulma-danger-light);
    --deleted-text: var(--bulma-danger-dark);
    /*--darkened-bg: var(--selected);*/
    /*--hairline-color: var(--bulma-border);*/
}

[data-theme="light"] {
    --contrasted: #f3eff1;
    --accent: hsl(0deg 0% 0% / 5%);
    --selected: hsl(234deg 100% 96%);
    --selected-text: hsl(237deg 82% 32%);
    --deleted: var(--bulma-danger-light);
    --deleted-text: var(--bulma-danger-dark);
}

[data-theme="dark"] {
    --contrasted: #252424;
    --accent: hsla(0, 0%, 100%, 0.05);
    --selected: #000528;
    --selected-text: #7281f9;
    --deleted: var(--bulma-danger-dark);
    --deleted-text: var(--bulma-danger-light);
}

.is-delete {
    color: var(--deleted-text);
    background-color: var(--deleted);
}

.is-contrasted {
    background-color: var(--contrasted) !important;
}

.menu-list a:hover {
    background-color: var(--contrasted);
}

.is-256x256 {
    width: 256px;
    height: 256px;
}

.hoverable {
    position: relative;
    overflow: hidden;
}

.hoverable::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.2s;
    mix-blend-mode: overlay;
}

.hoverable:hover::after {
    opacity: 1;
}

.is-selected {
    background-color: var(--selected);
    color: var(--selected-text);
}

.hoverable:hover {
    cursor: pointer;
    text-decoration: underline;
}
