.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 25px 15px;
    background-color: #cccfd3;
    color: #111111 !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.title {
    font-size: 2em;
    padding: 0.2em;
}

.toolbar h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.toolbar label {
    margin-right: 10px;
}

.toolbar input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.views {
    display: inline-block;
}

.toolbar button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    margin-left: 10px;
}

.delete-button {
    background-color: #cb4848;
}

.delete-button:hover {
    background-color: #b63434;
}

.delete-all-button {
    background-color: #ad2b2b;
}

.delete-all-button:hover {
    background-color: #931c1c;
}

.validate-button {
    background-color: #5aa926;
}

.validate-button:hover {
    background-color: #44851a;
}

.select-button {
    background-color: #e3c035;
}

.select-button:hover {
    background-color: #c0a124;
}

.reload-button {
    background-color: rgb(48, 148, 164);
}

.reload-button:hover {
    background-color: rgb(35, 115, 128);
}

.export-button {
    background-color: #5aa926;
}

.export-button:hover {
    background-color: #44851a;
}

.edit-button {
    background-color: #008CBA;
}

.edit-button:hover {
    background-color: #006687;
}

.btn-change {
    background-color: var(--body-bg);
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border: 1px solid var(--body-quiet-color);
    padding: .6rem .8rem;
    margin: 3em -.6em -.4em .3em;
    color: var(--body-quiet-color);
}

.btn-change:hover {
    cursor: pointer;
}

.btn-change.active-tab {
    background-color: var(--body-quiet-color);
    color: var(--body-bg);
}

.anno-table {
    background: #F8F8F8;
    margin-top: 3em;
}
.page-col {
    width: 420px;
    background-color: #333;
    color: white;
    text-align: center;
}
td {
    border: none !important;
}
.anno-col {
    background-color: #F8F8F8;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    height: 100%;
}
.page-preview {
    max-height: 500px;
}
.anno-div {
    flex: 1;
    align-items: center;
    justify-content: left;
    color: black;
}
.anno {
    margin: 5px;
    border: 1px solid var(--border-color);
    max-height: 450px;
    max-width: 150px;
}
.anno-info {
    color: #bdbbbb;
    padding-bottom: 10px;
    font-style: italic;
}
.anno-row {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #1c1c1c;
    background-color: #F8F8F8 !important;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

tr:nth-child(odd) th {
    background: var(--body-bg);
}
tr:nth-child(even) th {
    background: var(--darkened-bg);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 20px;
}

.grid-item img {
    max-height: 250px;
    max-width: 250px;
    display: block;
}

.hidden {
    display: none;
}
