{% extends "admin/base_site.html" %}

{% block content %}
    <div class="container">
        <div id="content-main">
            <div class="message is-info">
                <div class="message-body">
                    {% if APP_LANG == "en" %}
                        We have sent you an email with instructions to change your password, provided that an account exists with the address you entered.<br>
                        If you do not receive a message, please check that you have entered the address with which you are registered and check your spam folder.
                    {% else %}
                        Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée.<br>
                        Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous êtes enregistré et contrôlez votre dossier de pourriels.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
