{% extends "admin/base_site.html" %}

{% block content %}
    <div class="container content p-5 body-content">
        <div id="content-main">
            <form method="post">
                {% csrf_token %}
                <div class="columns is-centered">
                    <div class="column is-4">
                        <div class="box is-contrasted">
                            <h1 class="is-title is-size-3 is-center">{{ title }}</h1>
                            <div class="form-group pt-4">
                                <label class="label" for="{{ form.email.id_for_label }}">Email</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input type="email" class="input" name="email" placeholder="Email" required>
                                    <span class="icon is-small is-left pl-3">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            {% if form.errors %}
                                <div class="message is-danger is-size-7">
                                    {{ form.email.errors }}
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                            <a class="pl-2 is-size-7" href="{% url 'admin:login' %}">{% if APP_LANG == "en" %}Back to login{% else %}Retour au formulaire de connexion{% endif %}</a>
                            <div class="control pt-4 is-center">
                                <button type="submit" class="button is-link">{% if APP_LANG == "en" %}Submit{% else %}Envoyer{% endif %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
