{% extends "admin/base_site.html" %}

{% block content %}
    <div class="container content p-5 body-content">
        <div id="content-main">
            <div class="message is-success">
                <div class="message-body">
                    {% if APP_LANG == "en" %}
                        Your new password has been set. You may go ahead and <a href="{{ LOGIN_URL }}">sign in</a>
                    {% else %}
                        Le nouveau mot de passe est enregistré, vous pouvez maintenant <a href="{{ LOGIN_URL }}">vous connecter</a>
                    {% endif %}.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
