{% extends "admin/base_site.html" %}

{# TEMPLATE EXTENSION FOR THE DEFAULT ADMIN INTERFACE #}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {# TITLE IS DEFINED IN THE SETTINGS #}
    {# <title>{% block title %}{{ APP_NAME_UPPER }} platform{% endblock %}</title> #}

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <script>
        const APP_NAME = "{{ APP_NAME }}";
        const SAS_APP_URL = "{{ SAS_APP_URL }}";
        const APP_LANG = "{{ APP_LANG }}";
    </script>
    <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
