{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block javascript %}
        <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="header">
        {% block header %}
            <h1>Welcome to {{ APP_NAME_UPPER }} website!</h1>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            <p>Copyright {{ APP_NAME_UPPER }} © {% now "Y" %}</p>
        {% endblock %}
    </div>
</body>
</html>
