.panel.svelte-2s5lzv{height:80vh;overflow-y:auto}.witness-key.svelte-2s5lzv{display:block;font-weight:bold;border-bottom:1px solid var(--bulma-border);padding:10px 0}.selector.svelte-2s5lzv{margin-bottom:1rem}
