{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Recherche avancée | {{ APP_NAME_UPPER }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '' %}">
    <script src="{% static '' %}"></script>
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block nav %}
    {% include 'includes/menu.html' %}
{% endblock %}

{% block content %}
    {% include 'includes/main.html' %}
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}
