{% extends "admin/base_site.html" %}

{% load static %}

{% block title %}RGPD compliance{% endblock %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block content %}

<h1>GDPR Compliance</h1>

<p>
    {{ APP_NAME_UPPER }} administrators inform you that certain information is required to access specific features of the website.
    If you refuse to provide required entries, you may not be able to access certain services. Some personal data is collected for the following purposes:
</p>
<ul>
    <li>First name</li>
    <li>Last name</li>
    <li>E-mail address</li>
    <li>Last login</li>
</ul>

<p>The data is accessible to:</p>
<ul>
    <li>Webmasters, site administrators of the {{ APP_NAME_UPPER }}' project</li>
    <li>Authenticated administrators of {{ APP_URL }} website</li>
</ul>

<p>No data transfer outside the European Union is carried out.</p>

<p>In compliance with the applicable legal and regulatory provisions, you have the following rights
    if you are an Authenticated contributor:</p>
<ul>
    <li>Update or delete your data by logging into your account and configuring its settings</li>
    <li>Exercise your right of access, to know the personal data concerning you</li>
    <li>Request the updating of your data, if it is inaccurate</li>
    <li>Request portability or erasure of your data</li>
    <li>Request the deletion of your account</li>
    <li>Request the limitation of the processing of your data</li>
    <li>Oppose, for legitimate reasons, the processing of your data</li>
    <li>Withdraw your consent to the processing of your data</li>
</ul>

<p>To exercise these rights, contact {{ APP_NAME_UPPER }}' team.
    You can also contact the Data Protection Officer at the following address:</p>
<blockquote>
    DPD<br>
    17, rue Notre Dame des Pauvres<br>
    54519 Vandoeuvre lès Nancy Cedex
</blockquote>

<p>
    If, after contacting us, you believe that your rights in the field of Information Technology and Liberties are not respected,
    you are entitled to file a claim online with the CNIL online or by post.
</p>

<h1 id="license">IIIF images license</h1>

<p>
    Please note that images without explicitly provided licensing information within the IIIF manifest are not available
    for reuse. To ensure compliance with copyright and licensing regulations, users are advised to seek explicit
    permissions or clarifications from the respective rights holders before attempting any reuse or redistribution of
    these image resources. This policy aims to uphold intellectual property rights and foster responsible usage of
    visual content within the IIIF framework.
</p>

{% endblock %}
