{% extends "admin/base_site.html" %}

{% load static %}

{% block title %}{{ anno }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
{% endblock %}

{% block header %}
    <div class="toolbar">
        <div class="title">
            <b>{{ anno|capfirst }}</b>
        </div>
        <div style="display: flex; flex-direction: row;">
            <a href="{% url 'show-all-annotations' anno_ref=anno_ref %}" target="_blank">
                <button class="export-button" type="submit">
                    <i class="fa-solid fa-eye"></i>
                    {% if APP_LANG == "en" %}
                        Visualize all
                    {% else %}
                        Voir toutes les
                    {% endif %}
                    annotations
                </button>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}

<div style="margin-top: 5%;">
    <div class="grid-container">
        {% for canvas_nb, coord, img_file in all_crops %}
            {% for coords, id in coord %}
                <div class="grid-item">
                    <div style="display: flex; flex-direction: row;">
                        {% with small=coords|add:'/full/0' %}
                            <a href="{{ img_file|img_to_iiif:small }}" target="_blank">
                                <img src="{{ img_file|img_to_iiif:small }}" class="img-fluid" alt="{{ img_file }}" style="margin-right: 10px;">
                            </a>
                        {% endwith %}
                        <img src="{% get_media_prefix %}svg/{{ img_file|jpg_to_none }}_{{ coords }}.svg" class="img-fluid" alt="{{ img_file|jpg_to_none }}_{{ coords }}.svg">
                        {#<a href="{% url 'view-vectorization' img_file=img_file %}">#}
                            <button class="btn-change" type="submit">
                                <i class="bi bi-box-arrow-up"></i>
                                {% if APP_LANG == "en" %}
                                    View
                                {% else %}
                                    Voir
                                {% endif %}
                            </button>
                        </a>
                        <input type="checkbox" name="vecto_checkbox" value="{{ img_file|img_to_iiif:small }}" onchange="updateSelectedImageURLs()">
                    </div>
                    <h3><a href="{{ img_file|img_to_iiif }}" target="_blank">Page {{ canvas_nb }}</a></h3>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}
