{% extends "admin/base_site.html" %}

{% load static %}

{% block title %}{{ anno }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">

    <style>
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.grid-item img {
    width: auto;
    height: 200px;
    display: block;
}

.hidden {
    display: none;
}

.btn-change {
    background-color: rgb(157, 157, 224);
    color: white;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .3rem .7rem;
    margin: 5px 5px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-change:hover {
    background-color: rgb(41, 36, 89);
}

/*.img-overlay-wrap {
    position: relative;
    display: inline-block; /* container -> taille de l'image
    transition: transform 150ms ease-in-out;
  }

  .img-overlay-wrap img { pour que ce soit responsive
     display: block;
     max-width: 100%;
     height: auto;
  }

  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }*/

  .rectangle {
    position: absolute;
    border: 2px solid red; /* Couleur et épaisseur de la bordure du rectangle */
    background-color: rgba(255, 0, 0, 0.2); /* Couleur de fond semi-transparente du rectangle */
}

    </style>

{% endblock %}

{% block header %}
    <div class="toolbar">
        <div class="title">
            <b>{{ anno|capfirst }}</b>
        </div>
        <div style="display: flex; flex-direction: row;">

            <a href="{% url 'export-crops' anno_ref=anno_ref %}">
                <button class="btn-change" type="submit">
                    <i class="bi bi-box-arrow-up"></i>
                    {% if APP_LANG == "en" %}
                        Export all
                    {% else %}
                        Exporter toutes les
                    {% endif %}
                    annotations
                </button>
            </a>

            <form id="export" action="{% url 'export-selected-crops' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="listeURL" name="listeURL" value="">
                <button class="btn-change" type="submit">
                    <i class="bi bi-box-arrow-up"></i>
                    {% if APP_LANG == "en" %}
                        Export selected annotations
                    {% else %}
                        Exporter les annotations sélectionnées
                    {% endif %}</button>
            </form>

            <a href="{% url 'show-annotations' anno_ref=anno_ref %}" target="_blank">
                <button class="btn-change" type="submit">
                    <i class="bi bi-pencil"></i>
                    {% if APP_LANG == "en" %}
                        Edit
                    {% else %}
                        Éditer les
                    {% endif %}
                    annotations
                </button>
            </a>


            </div>
    </div>
{% endblock %}

{% block content %}

<div class="row" style="margin-top: 3%;">
    <button id="toggleBtn" class="btn-change">{% if APP_LANG == "en" %}
        Change view
    {% else %}
        Changer de vue
    {% endif %}</button>
</div>

<div class="" id="view1">
<div class="row">
    <div class="column">
        <table class="anno-table">
            {% for canvas_nb, coord, img_file in all_crops %}
                <tr class="anno-row">
                    <td class="anno-td">
                        <h3><a href="{{ SAS_APP_URL }}/index.html?iiif-content={{ url_manifest }}&canvas={{ canvas_nb }}" target="_blank">Page {{ canvas_nb }}</a></h3>
                        <div class="img-container">
                        <a href="{{ img_file|img_to_iiif}}" target="_blank">
                        <img class="page-preview" src="{{ img_file|img_to_iiif:"full/300,/0" }}" alt="Max" style="height: 300px;">
                        </a>
                    </div>
                    </td>
                    <td class="anno-td anno-col">
                        {% for coords, id in coord %}
                        <div id="ill_{{id}}" class="anno-div" style="height: 300px; width: auto; text-align: center;">
                            {% with small=coords|add:'/full/0' %}
                                <a href="{{ img_file|img_to_iiif:small }}" target="_blank">
                                    <img src="{{ img_file|img_to_iiif:small }}" alt="scan preview" style="height: 100%; width: auto;">
                                </a>
                                <br>
                                <input type="checkbox" name="crop_checkbox" value="{{ img_file|img_to_iiif:small }}" onchange="updateSelectedImageURLs()">
                            {% endwith %}
                        </div>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</div>

<div class="hidden" id="view2" style="margin-top: 3%;">
    <div class="grid-container">
        {% for canvas_nb, coord, img_file in all_crops %}
            {% for coords, id in coord %}
                {% with small=coords|add:'/full/0' %}
                    <div class="grid-item">
                        <a href="{{ img_file|img_to_iiif:small }}" target="_blank"></a>
                            <img src="{{ img_file|img_to_iiif:small }}" class="img-fluid" alt="{{ img_file }}">
                        </a>
                        <br>
                        <input type="checkbox" name="crop_checkbox" value="{{ img_file|img_to_iiif:small }}" onchange="updateSelectedImageURLs()">
                    </div>
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </div>
</div>


<script>
var checkboxes = document.querySelectorAll('input[name="crop_checkbox"]');
var selectedImageURLs = [];
// Fonction pour mettre à jour la liste des URL sélectionnées
function updateSelectedImageURLs() {
    // Réinitialiser la liste des URL sélectionnées
    selectedImageURLs = [];

    // Parcourir toutes les cases à cocher
    checkboxes.forEach(function(checkbox) {
        // Vérifier si la case est cochée
        if (checkbox.checked) {
            // Récupérez l'URL de l'image à partir de la value de la case cochée
            var imageURL = checkbox.value;
            // Ajouter l'URL de l'image à la liste des URL sélectionnées
            selectedImageURLs.push(imageURL);
            }
        }
    );
    // Afficher la liste des URLs sélectionnées
    console.log(selectedImageURLs);
    var jsonString = JSON.stringify(selectedImageURLs);

    // liste => hidden input
    document.getElementById("listeURL").value = jsonString;
    // Vérifier si la valeur du champ est correcte
    console.log(document.getElementById("listeURL").value);
};

//switch views

document.addEventListener("DOMContentLoaded", function() {

    const toggleBtn = document.getElementById('toggleBtn');
    const view1 = document.getElementById('view1');
    const view2 = document.getElementById('view2');

    toggleBtn.addEventListener('click', function() {

        // Réinitialiser la liste des URL sélectionnées lorsque la vue est changée
        selectedImageURLs = [];

        // Décocher toutes les cases à cocher
        checkboxes.forEach(function(checkbox) {
        checkbox.checked = false;
        });

        // Vérifie si la première vue est visible
        const isView1Visible = !view1.classList.contains('hidden');

        // Si la première vue est visible, la cache et affiche la deuxième vue
        if (isView1Visible) {
            view1.classList.add('hidden');
            view2.classList.remove('hidden');
        } else { // Sinon, affiche la première vue et cache la deuxième vue
            view1.classList.remove('hidden');
            view2.classList.add('hidden');
        }
    });
});
</script>

{% endblock %}
