{% extends "admin/base_site.html" %}

{% load i18n %}

{% load static %}

{% block title %}{{ checked_ref_title }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'css/similarity.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lozad@1.14.0/dist/lozad.min.js"></script>
    <script src="{% static 'js/similarity.js' %}"></script>
{% endblock %}

{#{% block branding %}#}
{#    <h1 id="site-name"><a href="{% url 'admin:index' %}">{% if APP_LANG == "en" %}{{ APP_NAME_UPPER }} administration{% else %}Administration de {{ APP_NAME_UPPER }}{% endif %}</a></h1>#}
{#{% endblock %}#}
{##}
{#{% block nav-global %}#}
{#    <div id="user-tools">#}
{#        {% if user.is_active and user.is_staff %}#}
{#            {% trans 'Welcome,' %} <strong>{{ user.first_name }}</strong>.#}
{#            <a href="{% url 'home' %}">{% trans 'View site' %}</a> /#}
{#            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /#}
{#            <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>#}
{#        {% endif %}#}
{#    </div>#}
{#{% endblock %}#}

{% block content %}
    <div id="overlay"></div>
    <h3>
        {{ checked_ref_title|truncate_words }}
    </h3>
    <div id="check-pairs">
        <select id="multi-select" class="witness-multiple" multiple="multiple">
            <option id="show_checked_ref" onchange="showCheckedRef = this.selected" title="{{ checked_ref_title }}" value="{{ checked_ref }}">{{ checked_ref_title|truncate_words }}</option>
            {% for regions_ref, title in regions.items %}
                {% if regions_ref != checked_ref %}
                   <option id="{{ regions_ref }}" title="{{ title }}" value="{{ regions_ref }}" selected>{{ title|truncate_words }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <input id="maxRows" type="number" value="50" onchange="maxRows = this.value">
        <label for="viewOrder" style="padding: 0 1%">
            Order by page number
            <input id="viewOrder" type="checkbox" checked onchange="viewOrder = this.checked">
        </label>
        <button id="reload-btn" class="reload-button" title="{% if APP_LANG == 'en' %}Reload{% else %}Actualiser{% endif %}">
            <i class="fa-solid fa-arrows-rotate"></i>
            {% if APP_LANG == "en" %}Reload{% else %}Actualiser{% endif %}
        </button>
    </div>
    {{ CATEGORY_INFO|safe }}
    <div class="row">
        <div class="column similarity-container">
            <table id="similarity" class="similarity-table"></table>
        </div>
    </div>
    <script>
        var regionsRefs = JSON.parse('{{ regions_refs|safe }}');
        var maxRows = 50;
        var viewOrder = true;
        var showCheckedRef = false;

        document.getElementById('reload-btn').addEventListener('click', refresh_rows);

        function refresh_rows() {
            let btn = document.getElementById('reload-btn');

            // If the button is disabled, return immediately
            if (btn.disabled) {
                return;
            }

            // Disable the button and change its text and opacity
            btn.disabled = true;
            btn.style.opacity = 0.5;
            btn.innerHTML = `<i class="fa fa-spinner fa-spin fa-pulse fa-1x"/> ${APP_LANG === "en" ? "Loading..." : "Chargement..."}`;

            // Disable pointer events and change the cursor for all elements
            document.querySelectorAll('*').forEach(function(node) {
                node.style.pointerEvents = 'none';
                node.style.cursor = 'not-allowed';
            });

            // Clear the contents of the table
            document.getElementById('similarity').innerHTML = '';

            showCheckedRef = document.getElementById('show_checked_ref').selected;
            sendScoreRequest(getCheckedRefs("{{ checked_ref }}"), maxRows, showCheckedRef)
            .then(() => {
                // Re-enable the button and restore its original text and opacity once the request is done
                btn.disabled = false;
                btn.style.opacity = 1;
                btn.innerHTML = `<i class="fa-solid fa-arrows-rotate"></i> ${APP_LANG === "en" ? "Reload" : "Actualiser"}`;

                // Enable pointer events and change the cursor back to default for all elements
                document.querySelectorAll('*').forEach(function(node) {
                    node.style.pointerEvents = 'auto';
                    node.style.cursor = '';
                });
            });
        }

        $(function() {
            $('.witness-multiple').select2({
                placeholder: `${APP_LANG === "en" ? `Select ${WIT}es` : `Sélectionner ${WIT}s`}...`,
                tags: true,
                tokenSeparators: [',', ' '],
                allowClear: true
            });
            sendScoreRequest(getCheckedRefs("{{ checked_ref }}"), maxRows, showCheckedRef)
            .then(() => {
                document.getElementById('overlay').style.display = 'none';
            });
        });
    </script>
{% endblock %}
