{% extends "admin/base_site.html" %}

{% block title %}{{ anno }}{% endblock %}

{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
    <style>
        .similarity-table {
            width: 100%;
        }
        .similarity-img {
            height: 200px;
        }
        query-img {
            position: sticky; left: 0;
        }
        sim-img {

        }
    </style>
    <script src="{% static 'js/similarity.js' %}"></script>
    <script>
        var taskId = '{{ task_id|safe }}';
        var annoRefs = JSON.parse('{{ anno_refs|safe }}');
        checkStatus(taskId);
    </script>
{% endblock %}

{% block header %}
    <div class="toolbar">
        <div class="title">
            <b>{{ title|capfirst }}</b>
        </div>
    <h4>The most similar annotations to the image on the left</h4>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <table id="similarity" class="similarity-table"></table>
             <!--{# <table id="similarity" class="similarity-table">
                {% for q_img, similarities in scores %}
                    <tr class="similarity-row">
                        <td class="query-img">
                            <img class="similarity-img" src='{{ q_img|ref_to_iiif }}' alt="Annotation {{ q_img }}">
                            <br>
                            <h3>
                                <a href="{{ anno_refs|ref_to_mirador:q_img }}" target="_blank">{{ q_img }}</a>
                            </h3>
                        </td>
                        {% for score, sim_img in similarities %}
                            <td class="sim-img">
                                <img class="similarity-img" src='{{ sim_img|ref_to_iiif }}' alt="Annotation {{ sim_img }}">
                                <br>
                                <h4>
                                    <a href="{{ anno_refs|ref_to_mirador:sim_img }}" target="_blank">{{ sim_img }}</a>
                                    <br><b>{{ score }}</b>
                                </h4>
                            </td>
                        {% endfor %}
                    </tr>
                    {% empty %}
                    <tr>
                        <td style="width: 100%">
                            {% if APP_LANG == "en" %}
                                Similarity scores were not computed for those {{ WIT }}es
                            {% else %}
                                Les scores de similarité n'ont pas été calculé pour ces {{ WIT }}s
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'includes/pagination.html' with current_page=scores %} #}-->
        </div>
    </div>
{% endblock %}
