{% extends "admin/base_site.html" %}
{% load shared_tags static %}

{% block title %}
    {{ view_title }}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/regions.css' %}">
    <link rel="stylesheet" href="{% static 'svelte/regionList.css' %}">
{% endblock %}

{% block content %}
    <h1 class="is-title is-size-2 py-3">{{ view_title }}</h1>

    {% include "includes/pagination.html" %}

    <div>
        <div id="region-list"></div>
    </div>

    {% include "includes/pagination.html" %}
{% endblock %}

{% block extra_js %}
    <script>
        const manifest = "{{ manifest }}";
        const img_prefix = "{{ img_prefix }}";
    </script>
    <script type="application/json" id="regions-data">
        {{ regions_list|safe }}
    </script>
    <script src="{% static 'svelte/regionList.js' %}"></script>
{% endblock %}
