{% extends "admin/base_site.html" %}
{% load shared_tags static %}

{% block title %}
    {{ view_title }}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/regions.css' %}">
    <link rel="stylesheet" href="{% static 'svelte/regionList.css' %}">
{% endblock %}

{% block content %}
    <h1 class="is-title is-size-2 py-3" style="z-index: 5">{{ view_title }}</h1>

    {# if there is at least one digitization for the current witness #}
    {% if witness.img %}
    <div>
        <div id="region-list"></div>
    </div>
    {% else %}
    <div class="notification is-warning">
        <p>
            {% if APP_LANG == "en" %}
                This witness has no digitization yet
            {% else %}
                Ce témoin ne dispose pas de numérisation
            {% endif %}
        </p>
    </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script>
        const witness = {{ witness|js|safe }};
        const manifest = "{{ manifest }}";
        const imgPrefix = "{{ img_prefix }}";
        const isValidated = {% if is_validated %}true{% else %}false{% endif %};
        const nbOfPages = {% if img_nb %}{{img_nb}}{% else %}0{% endif %};
        const trailingZeros = {% if img_zeros %}{{img_zeros}}{% else %}0{% endif %};
    </script>
    <script src="{% static 'svelte/regionList.js' %}"></script>
{% endblock %}
