GDPR (General Data Protection Regulation)
Recorded data
{{ APP_NAME }}' administrators inform you that certain information is required to access specific features of the web site. If you refuse to provide required entries, you may not be able to access certain services. Some personnal data are collected in order to access the "admin" part of the website and for the contact page :

    First name
    Last name
    E-mail adress
    Last login

Data recipients
The data is accessible to

    Webmasters, site administrators of the {{ APP_NAME }}' project
    Authenticated administrators of {{ APP_URL }} website

Data transfer outside the European Union

No data transfer outside the European Union is carried out.

Personal rights

In compliance with the applicable legal and regulatory provisions, in particular Law No. 78-17 of 6 January amended relating to data processing, files and freedoms and European Regulation No. 2016/679/EU of 27 April 2016 (applicable since 25 May 2018), you have the following rights :

If you are an Authenticated contributor:

    Update or delete your data by logging into your account and configuring its settings

If you are a User:

    Exercise your right of access, to know the personal data concerning you
    Request the updating of your data, if it is inaccurate
    Request portability or erasure of your data
    Request the deletion of your account
    Request the limitation of the processing of your data
    Oppose, for legitimate reasons, the processing of your data
    Withdraw your consent to the processing of your data.

To exercise these rights, contact {{ APP_NAME }}' team

You can also contact the Data Protection Officer at the following address:

DPD
17, rue Notre Dame des Pauvres
54519 Vandoeuvre lès Nancy Cedex
Right to lodge a claim

If, after contacting us, you believe that your rights in the field of Information Technology and Liberties are not respected, you are entitled to file a claim online with the CNIL online or by post.
