{% extends "admin/base_site.html" %}

{% load static i18n crispy_forms_tags %}

{% block title %}Recheche avancée{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/advanced-search.css' %}">
    <script src="{% static 'js/advanced-search.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="get">
        <div class="columns">
            <div class="panel is-link column p-0 mx-4 my-3">
                <div class="panel-heading">
                    Par témoin
                    <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-original-title="Témoin..."></i>
                </div>
                <div class="panel-block columns">
                    <div class="column is-4">{{ witness_filter.form.type|as_crispy_field }}</div>
                    <div class="column">{{ witness_filter.form.id_nb__icontains|as_crispy_field }}</div>
                </div>
                <div class="panel-block py-1">
                    {{ witness_filter.form.place|as_crispy_field }}
                </div>
            </div>
            <div class="panel is-link column p-0 mx-4 my-3">
                <div class="panel-heading">
                    Par édition
                    <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-original-title="Édition..."></i>
                </div>
                <div class="panel-block columns">
                    <div class="column">{{ witness_filter.form.edition__place|as_crispy_field }}</div>
                    <div class="column">{{ witness_filter.form.edition__publisher|as_crispy_field }}</div>
                </div>
                <div class="panel-block">
                    {{ witness_filter.form.edition|as_crispy_field }}
                </div>
                <div class="panel-block">
                    {{ witness_filter.form.edition__name|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="panel is-link column p-0 mx-4 my-3">
                <div class="panel-heading">
                    Par œuvre
                    <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-original-title="Œuvre..."></i>
                </div>
                <div class="panel-block">
                    {{ witness_filter.form.contents__work|as_crispy_field }}
                </div>
                <div class="panel-block columns">
                    <div class="column">{{ witness_filter.form.contents__work__title|as_crispy_field }}</div>
                    <div class="column">{{ witness_filter.form.contents__work__author|as_crispy_field }}</div>
                </div>
                <div class="panel-block columns">
                    <div class="column">{{ witness_filter.form.contents__date_min|as_crispy_field }}</div>
                    <div class="column">{{ witness_filter.form.contents__date_max|as_crispy_field }}</div>
                </div>
            </div>
            <div class="panel is-link column p-0 mx-4 my-3">
                <div class="panel-heading">
                    Par langue & tag
                    <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-original-title="Langue & tag..."></i>
                </div>
                <div class="panel-block">
                    {{ witness_filter.form.contents__lang|as_crispy_field }}
                </div>
                <div class="panel-block">
                    {{ witness_filter.form.contents__tags|as_crispy_field }}
                </div>
            </div>
        </div>


        <div class="panel-block columns">
            <button type="submit" class="button is-link is-outlined is-fullwidth">
                <i class="fa-solid fa-magnifying-glass"></i>
                Lancer la recherche
            </button>
        </div>
    </form>

    <div class="button-container">
        <button onclick="viewCart()" class="js-modal-trigger" data-target="cart-modal">
            <i class="fa-solid fa-cart-shopping"></i>
            (<span id="cart-count">0</span>) Panier
        </button>
    </div>

    <div class="results">
        <h2 style="margin-top: 20px">{{ result_count }} résultat(s)</h2>
        {% for witness in page_obj %}
            <div class="card" id="witness-{{ witness.id }}">
                <div class="card-content">
                    <div class="card-image">
                        <img src="https://via.placeholder.com/200x200?text=No+Image" alt="Placeholder">
                    </div>
                    <div class="card-text">
                        <div class="card-header">
                            <h3 class="witness-works">{{ witness.get_works.0 }}</h3>
                            <p>Modifiée le : {{ witness.updated_at }}</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <p class="witness-id"><strong>ID :</strong> {{ witness.id }}</p>
                                    <p class="witness-type"><strong>Type :</strong> {{ witness.type }}</p>
                                    <p class="witness-id_nb"><strong>Cote :</strong> {{ witness.id_nb }}</p>
                                    <p class="witness-place"><strong>Lieu de conservation :</strong> {{ witness.place }}</p>
                                    <p class="witness-dates"><strong>Dates :</strong> {{ witness.get_dates }}</p>
                                    <p class="witness-roles"><strong>Acteurs historiques :</strong> {{ witness.get_roles.0 }}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <button class="button" id="cart-button-{{ witness.id }}" onclick="toggleCart('{{ witness.id }}')">
                                        <i class="fa-solid fa-cart-plus"></i> Ajouter au Panier
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No results found.</p>
        {% endfor %}

        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
        </div>
    </div>

    <div id="cart-modal" class="modal fade" tabindex="-1" aria-labelledby="cart-modal-label" aria-hidden="true">
        <div class="modal-background"></div>
        <div class="modal-content">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    <i class="fa-solid fa-cart-shopping"></i> Mon Panier
                </p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <ul id="cart-items" class="list-group">
                    <!-- Cart items will be injected here by JavaScript -->
                </ul>
            </section>
            <footer class="modal-card-foot">
                <div class="buttons">
                    <button class="button is-link is-light">Fermer</button>
                    <button class="button is-link" onclick="checkout()">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Enregistrer le Panier
                    </button>
                </div>
            </footer>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
{% endblock %}
