{% extends "admin/base_site.html" %}
{% load static shared_tags i18n admin_urls admin_list %}
{# https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/change_list.html #}

{% block content %}
    <div class="admin-content">
    {% block content_main %}
        <h1>{{ title }}</h1>
        <div class="container mt-6">
            {% if cl %}
            <div id="changelist-form-container">
                <form id="changelist-form" method="post" novalidate>
                    {% csrf_token %}
                    {{ cl.formset.management_form }}
                    {% if cl.result_count %}
                        {% block result_list %}
                            <div class="columns">
                                <div class="column ml-4">
                                    {% if APP_LANG == "fr" %}
                                    <a href="add" class="button is-rounded is-primary" title='Ajouter'>
                                        <i class="fa-solid fa-plus"></i>
                                        <span>Ajouter</span>
                                    </a>
                                    {% else %}
                                    <a href="add" class="button is-rounded is-primary" title='Add'>
                                        <i class="fa-solid fa-plus"></i>
                                        <span>Add</span>
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="column is-right mr-4">
                                    {% if action_form and actions_on_top and cl.show_admin_actions %}<div class="field">{% admin_actions %}</div>{% endif %}
                                </div>
                            </div>
                            <div class="box">{% result_list cl %}</div>
                        {% endblock %}
                    {% else %}
                        {% if APP_LANG == "fr" %}
                            <p>Aucun objet à afficher.</p>
                        {% else %}
                            <p>No entries found.</p>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
            {% else %}
                {% if APP_LANG == "fr" %}
                    <p>Aucunes données disponibles.</p>
                {% else %}
                    <p>No data available.</p>
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}
    </div>
{% endblock %}
