{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify shared_tags %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <script src="{% static 'js/form.js' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">

    <style>
        fieldset h2 {
            padding-bottom: 0.5rem;
            border-bottom: 1px solid var(--bulma-border);
        }
        label.required {
            color: var(--bulma-text-strong) !important;
        }
        p.url {
            margin-left: 0 !important;
        }
        .inline-related h3 {
            background: var(--accent);
            border-radius: var(--bulma-radius-small) !important;
            color: var(--bulma-text-strong);
            border-color: var(--bulma-border) !important;
            padding: 1em 10px;
            transition: background-color 100ms, color 100ms;
        }
        .grp-predelete h3 {
            background: var(--deleted);
            color: var(--deleted-text);
        }
        .djn-delete-handler {
            margin-top: -.25em;
            width: 16px;
            height: 16px;
            border: 0 none;
            transition: background-color 100ms;
            background: var(--bulma-text) url(../img/inline-delete.svg) no-repeat 0 0;
            border-radius: 2em;
        }
        .grp-predelete .djn-delete-handler {
            background-color: var(--bulma-danger);
        }
        .djn-delete-handler input {
            opacity: 0;
        }
        .djn-delete-handler label {
            margin-left: -5em !important;
            margin-top: .35em;
        }
        fieldset fieldset fieldset {
            margin-left: -10px !important;
        }
        .select.is-multiple option:checked {
            background-color: var(--bulma-link) !important;
            color: white !important;
        }
        div.readonly {
            margin-left: 0 !important;
        }
    {# TODO add style for djn-add-item add-row button #}
    {# TODO add style for related-widget-wrapper-link <change/add/delete>-related #}
    </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block content %}
    <div class="container">
        {% include "includes/breadcrumbs.html" %}

        <h1 class="is-title is-size-2 py-3 mt-3">{{ title }} <span class="faded smaller ml-5">{{ subtitle }}</span></h1>

        <div id="content-main">
            <form method="post" id="{{ opts.model_name }}_form" novalidate
                  {% if has_file_field %}enctype="multipart/form-data"{% endif %}
                  {% if form_url %}action="{{ form_url }}"{% endif %}>
                {% csrf_token %}
                {% block form_top %}{% endblock %}
                <div>
                    {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
                    {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
                    {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                    {% if errors %}
                        <p class="errornote">
                            {% blocktranslate count counter=errors|length %}
                                Please correct the error below.
                                {% plural %}
                                Please correct the errors below.
                            {% endblocktranslate %}
                        </p>
                        {{ adminform.form.non_field_errors }}
                    {% endif %}

                    {% block field_sets %}
                        {% for fieldset in adminform %}
                            {% include "admin/includes/fieldset.html" with heading_level=2 id_suffix=forloop.counter0 %}
                        {% endfor %}
                    {% endblock %}

                    {% block after_field_sets %}{% endblock %}

                    {% block inline_field_sets %}
                        {% for inline_admin_formset in inline_admin_formsets %}
                            {% include inline_admin_formset.opts.template %}
                        {% endfor %}
                    {% endblock %}

                    {% block after_related_objects %}{% endblock %}

                    {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

                    {% block admin_change_form_document_ready %}
                        <script id="django-admin-form-add-constants"
                                src="{% static 'admin/js/change_form.js' %}"
                                {% if adminform and add %}
                                data-model-name="{{ opts.model_name }}"
                                {% endif %}
                                async>
                        </script>
                    {% endblock %}

                    {# JavaScript for prepopulated fields #}
                    {% prepopulated_fields_js %}

                </div>
            </form>
        </div>
    </div>
{% endblock %}
