{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}

<div style="margin-bottom: 2%; margin-top: 2%;">
<p class="is-size-1 has-text-weight-light">{{ APP_NAME|upper }} Admin Home</p>
</div>

        <div class="columns is-fluid">
            <!-- Sidebar -->
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label">actions</p>
                    <ul class="menu-list is-capitalized">
                        <a><span class="icon-text"><span class="icon"><i class="fas fa-plus-circle"></i></span>Add {{ WIT }}</span></a>
                        <a><span class="icon-text"><span class="icon"><i class="fas fa-plus-circle"></i></span>Add {{ SER }}</span></a>
                        <a><span class="icon-text"><span class="icon"><i class="fas fa-plus-circle"></i></span>Add Machin</span></a>
                    </ul>
                </aside>
            </div>

            <!-- Main content -->
            <div class="column is-5">
                    <div class="block">
                    <p class="box notification is-light mgt-medium">
                        Welcome {{ user.first_name }} {{ user.last_name }} to the administrative interface !
                    </p>
                </div>

                <div class="block box mg-medium p-5 has-background-link-light">
                    <div class="box" style="width: 100%; overflow-x: auto;">
                    <table class="table is-capitalized" style="width:100%" id="main_entities">
                        <thead>
                          <tr class="table-header">
                            <th colspan="3">Main Entities</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ WIT }}</td>
                            <td><a><span class="icon-text"><span class="icon"><i class="fas fa-plus-circle"></i></span>Add</span></a></td>
                            <td><a><span class="icon-text"><span class="icon"><i class="fas fa-list-ul"></i></span>List</span></a></td>
                          </tr>
                          <tr>
                            <td>{{ SER }}</td>
                            <td><a><span class="icon-text"><span class="icon"><i class="fas fa-plus-circle"></i></span>Add</span></a></td>
                            <td><a><span class="icon-text"><span class="icon"><i class="fas fa-list-ul"></i></span>List</span></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>

                <div class="block box mgt-medium p-5 has-background-link-light">
                    <div class="box" style="width: 100%; overflow-x: auto;">
                    <table class="table is-capitalized" style="width:100%">
                        <thead>
                          <tr class="table-header">
                            <th colspan="3">Superuser Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Users</td>
                            <td><a><span class="icon-text"><span class="icon"><i class="fas fa-plus-circle"></i></span>Add</span></a></td>
                            <td><a><span clas="icon-text"><span class="icon"><i class="fas fa-list-ul"></i></span>List</span></a></td>
                          </tr>
                          <tr>
                            <td>Groups</td>
                            <td><a><span class="icon-text"><span class="icon"><i class="fas fa-plus-circle"></i></span>Add</span></a></td>
                            <td><a><span clas="icon-text"><span class="icon"><i class="fas fa-list-ul"></i></span>List</span></a></td>
                          </tr>
                          <tr>
                            <td>{{ LANG }}s</td>
                            <td><a><span class="icon-text"><span class="icon"><i class="fas fa-plus-circle"></i></span>Add</span></a></td>
                            <td><a><span clas="icon-text"><span class="icon"><i class="fas fa-list-ul"></i></span>List</span></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>


            <div class="column is-5">
                <div class="box" style="margin-left: 2%;">
                    <p class="is-size-4 has-text-weight-light">Personnal Space</p>
                    <p>
                        <a><span clas="icon-text"><span class="icon"><i class="far fa-user"></i></span>Access</span></a>
                    </p>
                </div>
                <div class="box" style="margin-left: 2%;">
                    <p class="is-size-4 has-text-weight-light">Dear EiDA User</p>
                    <p>
                        This version of the website is still a work in progress.  Don't hesitate to contact us if it is broken.
                    </p>
                    <p>
                        Enjoy testing EiDA !
                    </p>
                    <p style="text-align: right;">
                        DH Team
                    </p>
                </div>
            </div>
        </div>

{% endblock %}
