{% load static shared_tags %}

{% get_add_url entity_title as add_url %}
{% get_list_url entity_title as list_url %}

{% if entity_set %}
    {% get_list_url entity_set as list_url %}
{% endif %}


<div class="block box mg-medium p-5 m-4" style="height:90%;">
    <div class="content is-center">
        <h3 class="is-center is-capitalized">{{ entity_title }}</h3>
        {% if icon %}
            <img src="{% static 'img/'|add:entity_title|add:'.svg' %}" onerror="this.onerror=null;this.style.display='none';src='';this.class='';" class="image is-center is-128x128 mb-5" style="filter:invert(.7);" alt="{{ entity_title }} icon"/>
        {% endif %}
        <p class="is-size-7">{{ entity_desc }}</p>
        <div class="buttons is-center">
            {% if entity_set %}
            {% else %}
            <a href="{{ add_url }}" class="button is-ghost">
                <span class="icon-text">
                    <span class="icon"><i class="fas fa-plus-circle"></i></span>
                    {% if APP_LANG == "en" %}Add{% else %}Ajouter{% endif %}
                </span>
            </a>
            {% endif %}
            <a href="{{ list_url }}" class="button is-ghost">
                <span class="icon-text">
                    <span class="icon"><i class="fas fa-list-ul"></i></span>
                    {% if APP_LANG == "en" %}List{% else %}Liste{% endif %}
                </span>
            </a>
        </div>
    </div>
</div>
