{% block extrahead %}
<style>
    #webapp-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 25px 15px;
        background-color: #cccfd3;
        color: #111111 !important;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }
    #logo {
        background: url("{% static 'img/logo-'|add:APP_NAME|add:'.png' %}");
        background-size: 100%;
        padding-left: 38px;
        padding-right: 38px;
        display: block;
        height: 100%;
    }
</style>
{% endblock %}

{% block header %}
<nav id="webapp-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                <span id="logo"></span>
            </a>
        </div>
    </div>
</nav>
{% endblock %}
